.topEDU{
background-color: dimgray;
display: flex;
color: aliceblue;
background-color: rgba(36, 36, 36, 0.963);
height: 40px;
align-items: center;

}


.edu{
    border: 2px rgb(181, 177, 177) solid;
}

.topEDU > h2{
    margin-left: 30px;
}


.FLEdu{
font-size: large;
margin-left: 30px;
}

.SLEdu{
font-size: small;
font-weight: lighter;
margin-left: 30px;
}

.TLEdu{
font-size: medium;
margin-left: 30px;
}